<!DOCTYPE html>
<html lang="en">

<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <a href="#"><img class="logo" src="logo_mpgi.jpg"></a>

            </div>
            <div class="menu">
                <ul>
                    <li><a href="https://www.mpgi.edu.in/admission/admission-process/">Home</a></li>
                    <li><a href="https://www.mpgi.edu.in/about-us/about-the-group/">About</a></li>
                    <li><a href="https://www.mpgi.edu.in/placement/placement-overview/">Placement</a></li>
                    <li><a href="https://www.mpgi.edu.in/courses/ug-programmes/"> Courses</a></li>
                    <li><a href="https://www.mpgi.edu.in/contact-us/">Contact</a></li>
                </ul>
            </div>
            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type to text"><a
                    href="https://www.mpgi.edu.in/admission/admission-process/"><button class="btn">Search</button></a>

            </div>
        </div>
        <div class="contant">
            <h1>
                <p class="web">Web Design &</p><span>Development</span><br>
                <p class="web">Course
            </h1>
            </p>
            <p class="par">The Web Development courses we offer are designed to help<br> prepare you for a career in
                front-end and back-end development,<br> full-stack engineering, and web designproviding you with
                comprehensive skills<br> to build and maintain dynamic websites and applications.</p>
            <button class="cr"><a href="https://www.mpgi.edu.in/admission/admission-process/">Apply For Free
                    Demo</a></button>
            <form action="/index" method="POST">
                <div class="form">
                    <h2>login Here</h2>
                    <input type="text" name="firstname" placeholder="First Name">
                    <input type="text" name="lastname" placeholder="Last Name">
                    <input type="text" name="phonenumber" placeholder="Enter Your Phone">
                    <input type="text" name="number" placeholder="Enter Your Age">
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type="password" name="password" placeholder="Enter password Here">
                    <input type="submit" class="btnn" value="login"/>
                    {{!-- <button class="btnn"><a href="#">Login</a> </button> --}}
                    <p class="link">Don't have an account<br>
                        <a href="#">Sign up</a> here
                    </p>
                    <p class="liw"><a href="https://www.mpgi.edu.in/contact-us/"></a></p>
                </div>
            </form>
        </div>
</body>

</html>